<nav class="header-menu">
  <ul class="header-menu-list">
    <li class="header-menu-list-item">
      <a
        href="/upcoming"
        id="button-upcoming-launches"
        class="<% if (activeButton === 'upcoming') { %> active <% } %>"
        ><span>UPCOMING LAUNCHES</span></a
      >
    </li>
    <li class="header-menu-list-item">
      <a
        href="/past"
        id="button-past-launches"
        class="<% if (activeButton === 'past') { %> active <% } %>"
        ><span>PAST LAUNCHES</span></a
      >
    </li>
  </ul>
</nav>
