<div class="header-text-wrapper">
  <a class="home-link" href="https://www.spacex.com/">
    <img
      src="assets/images/spacex_logo_white.png"
      alt="SpaceX logo"
      class="header-logo-image"
    />
  </a>
  <h1 class="header-text">LAUNCH MANIFEST</h1>
</div>
