<div class="detailview">
  <h2 class="detailview-title">USCV-1 (NASA Crew Flight 1)</h2>
  <ul class="property-list">
    <li class="detail-level-1">
      <span class="detail-property-1">flight_number</span
      ><span class="detail-data">112</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">mission_name</span
      ><span class="detail-data">USCV-1 (NASA Crew Flight 1)</span>
    </li>
    <li class="sub-list-title">mission_id</li>
    <ul class="property-list-sub-list-2">
      <li class="detail-level-2">
        <span class="detail-property-2">0</span
        ><span class="detail-data">EE86F74</span>
      </li>
    </ul>
    <li class="detail-level-1">
      <span class="detail-property-1">launch_year</span
      ><span class="detail-data">2021</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">launch_date_unix</span
      ><span class="detail-data">1609459200</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">launch_date_utc</span
      ><span class="detail-data">2021-01-01T00:00:00.000Z</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">launch_date_local</span
      ><span class="detail-data">2020-12-31T19:00:00-05:00</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">is_tentative</span
      ><span class="detail-data">true</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">tentative_max_precision</span
      ><span class="detail-data">month</span>
    </li>
    <li class="detail-level-1">
      <span class="detail-property-1">tbd</span
      ><span class="detail-data">false</span>
    </li>
    <li class="sub-list-title">rocket</li>
    <ul class="property-list-sub-list-2">
      <li class="detail-level-2">
        <span class="detail-property-2">rocket_id</span
        ><span class="detail-data">falcon9</span>
      </li>
      <li class="detail-level-2">
        <span class="detail-property-2">rocket_name</span
        ><span class="detail-data">Falcon 9</span>
      </li>
      <li class="detail-level-2">
        <span class="detail-property-2">rocket_type</span
        ><span class="detail-data">FT</span>
      </li>
      <li class="sub-list-title">first_stage</li>
      <ul class="property-list-sub-list-3">
        <li class="sub-list-title">cores</li>
        <ul class="property-list-sub-list-4">
          <li class="sub-list-title">0</li>
          <ul class="property-list-sub-list-5">
            <li class="detail-level-5">
              <span class="detail-property-5">block</span
              ><span class="detail-data">5</span>
            </li>
            <li class="detail-level-5">
              <span class="detail-property-5">reused</span
              ><span class="detail-data">false</span>
            </li>
          </ul>
        </ul>
      </ul>
      <li class="sub-list-title">second_stage</li>
      <ul class="property-list-sub-list-3">
        <li class="detail-level-3">
          <span class="detail-property-3">block</span
          ><span class="detail-data">5</span>
        </li>
        <li class="sub-list-title">payloads</li>
        <ul class="property-list-sub-list-4">
          <li class="sub-list-title">0</li>
          <ul class="property-list-sub-list-5">
            <li class="detail-level-5">
              <span class="detail-property-5">payload_id</span
              ><span class="detail-data">USCV-1 (NASA Crew Flight 1)</span>
            </li>
            <li class="detail-level-5">
              <span class="detail-property-5">reused</span
              ><span class="detail-data">false</span>
            </li>
            <li class="sub-list-title">customers</li>
            <ul class="property-list-sub-list-6">
              <li class="detail-level-6">
                <span class="detail-property-6">0</span
                ><span class="detail-data">NASA (CCtCap)</span>
              </li>
            </ul>
            <li class="detail-level-5">
              <span class="detail-property-5">nationality</span
              ><span class="detail-data">United States</span>
            </li>
            <li class="detail-level-5">
              <span class="detail-property-5">manufacturer</span
              ><span class="detail-data">SpaceX</span>
            </li>
            <li class="detail-level-5">
              <span class="detail-property-5">payload_type</span
              ><span class="detail-data">Crew Dragon</span>
            </li>
            <li class="detail-level-5">
              <span class="detail-property-5">orbit</span
              ><span class="detail-data">ISS</span>
            </li>
            <li class="sub-list-title">orbit_params</li>
            <ul class="property-list-sub-list-6">
              <li class="detail-level-6">
                <span class="detail-property-6">reference_system</span
                ><span class="detail-data">geocentric</span>
              </li>
              <li class="detail-level-6">
                <span class="detail-property-6">regime</span
                ><span class="detail-data">low-earth</span>
              </li>
            </ul>
          </ul>
        </ul>
      </ul>
    </ul>
    <li class="sub-list-title">launch_site</li>
    <ul class="property-list-sub-list-2">
      <li class="detail-level-2">
        <span class="detail-property-2">site_id</span
        ><span class="detail-data">ksc_lc_39a</span>
      </li>
      <li class="detail-level-2">
        <span class="detail-property-2">site_name</span
        ><span class="detail-data">KSC LC 39A</span>
      </li>
      <li class="detail-level-2">
        <span class="detail-property-2">site_name_long</span
        ><span class="detail-data"
          >Kennedy Space Center Historic Launch Complex 39A</span
        >
      </li>
    </ul>
    <li class="sub-list-title">links</li>
    <ul class="property-list-sub-list-2"></ul>
    <li class="detail-level-1">
      <span class="detail-property-1">upcoming</span
      ><span class="detail-data">true</span>
    </li>
  </ul>
</div>
