<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name=" theme-color" content="#005288">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="stylesheets/main.min.css" />
  <link rel="stylesheet" href="stylesheets/list.min.css" />
  <link rel="manifest" href="manifest.json">
  <title>SpaceX | <%= site.pageData.title %></title>
</head>
