<div class="banner">
  <div
    class="banner-background"
    style="background: center bottom / cover no-repeat url(<%= site.pageData.bannerLink %>);"
  >
    <div class="banner-filter">
      <blockquote>
        Our launch manifest is populated by a diverse customer base, including
        space station resupply missions, commercial satellite launch missions,
        and US government science and national security missions.
      </blockquote>
    </div>
  </div>
</div>
