<section class="showcase">
  <h2 class="showcase-title"></h2>
  <div>
    <div class="showcase-image-titles-container">
      <ul class="showcase-titles-container"></ul>
      <div class="showcase-image-container"></div>
    </div>
    <div class="showcase-details-container"></div>
    <div class="showcase-launchdate-container">
      <p class="showcase-launchdate-date"></p>
      <p class="showcase-launchdate-countdown">
        <span class="launch-days"></span>
        <span class="launch-hours"></span>
        <span class="launch-minutes"></span>
        <span class="launch-seconds"></span>
      </p>
    </div>
  </div>
</section>
